<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>OpenKeywords - The world's first open keyword Database</title>
		
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />

	<!--jQuery-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script> 

	<!--jQuery Facebox-->
	<script src="plugins/jquery-facebox/facebox.js" type="text/javascript"></script>
	<link rel="stylesheet" href="plugins/jquery-facebox/facebox.css" type="text/css" />

	<script >
		$(document).ready(function()
		{
			// jQuery Facebox Modal
			$('a[rel*=modal]').facebox({ opacity: 0.5 }); 
		});
	</script>
	<style>
		.centerfield{width:960px;margin:auto;}
	</style>
</head>
<body>
	<div id="header">
		<div class="container">
			<ul>
					 <% if user_signed_in? %>
					   	<li><%= link_to 'Sign out', destroy_user_session_path %></li>
						<li><a href="/users/edit"> My Info </a></li>
						<li style="margin-top:2px;"> Signed in as <%= current_user.email %></li>
					  <% else %>
					    <li><%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %></li>
					  <% end %>
			
			</ul>
		</div>
	
		<div class="cotton-area white-border-top">    
			<div class="cotton-inner clearfix">	
				<div class="container">	
				<a class="left" href="/"><img class="adjustlogo" src="/images/oklogo.png"/></a>
					<div class="right">
						<form id="kwsearch" class='margin-right'>
						<fieldset>
							<div class="search">
								<input type="text" name="q" value="<%= params[:q] %>" id="q">
								<input type="image" src="/images/search.png" value="Search" class="search">
							</div>
							<p>Enter the keyword that you'd like to expand or get volume info! »</p>
						</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>  
		<div class="cotton-top">
		</div>  
	</div>	
<!--CONTENT-->
<div class="f8">
<div class="container min-400">
	<br/>
	<h1 class="left">Similar Keywords to '<%= params[:q] %>'</h1>
	<div class="right">
		Country: <select><option>All</option><option>Brazil</option>
		</select>
	</div>
	<div class="clear"></div>
	
	<% if @keywords.count == 0  %>
	
	<h3>No results found. </h3>
	<p>Have you ever considered connecting to your <a href="">Google Analytics account</a>  to help us to avoid this happening again later?</p>
	<% else %>
		<table class="common-table zebra-striped">
			<tr>
				<th><a href="">Keywords</a></th>
				<th><a href="">Visits (Yesterday) <img src="images/sort-desc.png" class="sortIcon" height="8" width="9" alt="arrow"/></a></th>
			</tr>
			<% @keywords.each do  |keyword|  %>
			<tr>
				<td><a href="#">  <%= keyword.term  %>     </a></td>
				<td><span><%= keyword.visits  %></span></td>
			</tr>
			<% end %>
		</table>
	<% end %>
	

	<!--PAGINATION-->	
	<div class="pagination">
		<%= paginate @keywords %>
		</div>	<br/> 
	<!--END PAGINATION-->
</div>

</div> 
	      

<div  class="cotton-area clear">   
	<div class="cotton-top clear">&nbsp;
	</div>            	
		<div class="footer">
			<a href="http://blog.openkeywords.org">Blog</a> | 
			<a href="/about/">About</a> |
			<a href="mailto:contact@openkeywords.org">Contact</a> |
			<a href="mailto:contact@openkeywords.org">Sponsor Us!</a> 
		</div>
</div>

</body></html>
